# Lab 1: Data Visualization, Data Preprocessing, and Statistical Analysis Using Python in Jupyter Notebook
**Name:** Gaurab Karki  
**Course:** MSCS-634-B01 
**Step 1: Data Collection**

In [ ]:
import pandas as pd
import os
import numpy as np

csv_path = "data.csv"

if not os.path.exists(csv_path):
    raise FileNotFoundError(f"The file was not found at the specified path: {csv_path}")

df = pd.read_csv(csv_path, encoding='ISO-8859-1')

df.head()

In [ ]:
# Step 2: Data Visualization

import matplotlib.pyplot as plt
import seaborn as sns

# -----------------------------
# Scatter Plot: Quantity vs UnitPrice
plt.figure(figsize=(8,5))
sns.scatterplot(x='Quantity', y='UnitPrice', data=df)
plt.title("Scatter Plot: Quantity vs UnitPrice")
plt.xlabel("Quantity")
plt.ylabel("Unit Price")
plt.show()

# Insight:
# This scatter plot helps identify if higher quantities are sold at higher or lower prices with some outliers

# -----------------------------
# Bar Chart: Total Quantity Sold by Country
plt.figure(figsize=(10,5))
country_sales = df.groupby('Country')['Quantity'].sum().sort_values(ascending=False)
country_sales.plot(kind='bar', color='skyblue')
plt.title("Total Quantity Sold by Country")
plt.xlabel("Country")
plt.ylabel("Total Quantity Sold")
plt.show()

# Insight:
# This bar chart shows which countries have the highest sales in terms of quantity and helps to observe regional demand.

In [23]:
# Step 3: Data Preprocessing

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Load your dataset
csv_path = "data.csv"  # adjust path if needed
df = pd.read_csv("data.csv", encoding='latin1')

# Display original dataset
print("Original Dataset:")
display(df)

Original Dataset:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
# 3.1 Check for missing values
print("Missing values per column:")
print(df.isnull().sum())

# Option 1: Fill missing values with mean/mode
# Fill numeric columns with mean
for col in df.select_dtypes(include=[np.number]):
    df[col] = df[col].fillna(df[col].mean())  # safer assignment

# Fill categorical columns with mode
for col in df.select_dtypes(include=[object]):
    df[col] = df[col].fillna(df[col].mode()[0])

# Option 2: Drop rows or columns if needed
# df.dropna(inplace=True)  # drop rows with missing values
# df.drop(columns=['col_name'], inplace=True)  # drop specific column

print("Dataset after handling missing values:")
display(df)

In [ ]:
# 3.2 Outlier Detection and Removal

# Select only numeric columns
numeric_df = df.select_dtypes(include=[np.number])

# Compute Q1, Q3, IQR
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

print("Q1:\n", Q1)
print("Q3:\n", Q3)
print("IQR:\n", IQR)

# Detect outliers
outliers = (numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR))
print("Outliers Detected (True = Outlier):")
display(outliers)

# Remove rows with any numeric outlier
df_no_outliers = df[~outliers.any(axis=1)]
print("Dataset after removing outliers:")
display(df_no_outliers)

In [ ]:
# Step 3.3: Data Reduction
# Random sampling (50% of rows)
df_sampled = df_no_outliers.sample(frac=0.5, random_state=42)

# Drop less relevant columns if needed

print("Dataset after data reduction:")
display(df_sampled)

In [ ]:
# Step 3.4: Data Scaling and Discretization
# Min-Max Scaling for numeric columns
numeric_cols = df_sampled.select_dtypes(include=[np.number]).columns
scaler = MinMaxScaler()
df_sampled[numeric_cols] = scaler.fit_transform(df_sampled[numeric_cols])

print("Dataset after Min-Max Scaling:")
display(df_sampled)

# Example of discretization: binning a numeric column
# Replace 'Quantity' with any numeric column you want to discretize
if 'Quantity' in df_sampled.columns:
    df_sampled['Quantity_Binned'] = pd.cut(
        df_sampled['Quantity'], 
        bins=3, 
        labels=['Low', 'Medium', 'High']
    )

print("Dataset after discretization:")
display(df_sampled)

In [27]:
# Step 4: Statistical Analysis 
#Step 4.1: General Overview of Data: 
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

csv_path = "data.csv"

# Use encoding to avoid UnicodeDecodeError
df = pd.read_csv(csv_path, encoding='latin1')  

print("Original Dataset:")
display(df)

Original Dataset:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [28]:
#Step 4.2: Central Tendency Measures:  

print("Missing values per column:")
print(df.isnull().sum())

# Fill numeric columns with mean
for col in df.select_dtypes(include=[np.number]):
    df[col] = df[col].fillna(df[col].mean())

# Fill categorical columns with mode
for col in df.select_dtypes(include=[object]):
    df[col] = df[col].fillna(df[col].mode()[0])

print("Dataset after handling missing values:")
display(df)

Missing values per column:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
Dataset after handling missing values:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
# Step 4.3: Dispersion Measures
numeric_df = df.select_dtypes(include=[np.number])

# Compute Q1, Q3, IQR
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

print("Q1:\n", Q1)
print("Q3:\n", Q3)
print("IQR:\n", IQR)

# Detect outliers
outliers = (numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR))
print("Outliers Detected (True = Outlier):")
display(outliers)

# Remove rows with any numeric outlier
df_no_outliers = df[~outliers.any(axis=1)]
print("Dataset after removing outliers:")
display(df_no_outliers)